@page "/login"
@* @inject CustomAuthStateProvider AuthService *@
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager
@using Components.Models.DTO
.
<EditForm Model="user" OnSubmit="HandleLogin">
    <label for="username">Name</label>
    <InputText id="username" @bind-Value="username" />
    <label for="password">Password</label>
    <InputText id="password" @bind-Value="password" type="password" />
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

<p style="color: white;">Don't have an account? <a href="/register" style="color: white;">Register</a></p>

@code {
    private UserLoginDto user = new UserLoginDto();
    [Parameter]
    public string username { get; set; } = string.Empty;
    [Parameter]
    public string password { get; set; } = string.Empty;

    async Task HandleLogin()
    {
        //var serviceResponse = await AuthService.Login(username, password);
        await AuthStateProvider.GetAuthenticationStateAsync();
    }
}