
<div class="row">
    <input type="text" class="form-control mb-2" @bind="Label" placeholder="Enter label">
    <input type="text" class="form-control mb-2" @bind="Desc" placeholder="Enter Description">
</div>
<div class="row">
    <button class="btn btn-dark" @onclick="Confirm">Confirm</button>
</div>

@code {
    [Parameter] public EventCallback<Tuple<string, string>> OnDataSent { get; set; }

    private string Label { get; set; }
    private string Desc { get; set; }

    private async Task Confirm()
    {
        // Invoke the callback when data is ready
        await OnDataSent.InvokeAsync(new Tuple<string, string>(Label, Desc));
    }
}

