@inherits LayoutComponentBase
@inject NavigationManager NavManager
@using UCMapsWeb
@inject AuthenticationStateProvider authStateProvider
@using UCMapsWeb.Models

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
                    <h6>Hi, @context.User.Identity.Name</h6>
            <button type="submit" class="btn btn-primary" @onclick="LogoutAsync">Logout</button>
        </Authorized>
        <NotAuthorized>
                    <Login OnLoginSuccess="HandleLoginSuccess" />
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    private async Task HandleLoginSuccess()
    {
        NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
    }

    public async Task LogoutAsync()
    {
        var customAuthStateProvider = (CustomAuthStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(new UserSession());
    }
}
